<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Recipe Detail</title>
</head>
<body>
    <h1>{{ recipe.DishName }}</h1>
    <p>{{ recipe.Description }}</p>
    <h2>Images</h2>
    <ul>
        {% for image in recipe.images.all %}
            <li>
                <img src="{{ image.image.url }}" alt="Recipe Image">
                <p>{{ image.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
